<ion-header [translucent]="true">
  <ion-toolbar  class="ion-text-center">
    <ion-title>
      <b>ORGANOVA</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-progress-bar *ngIf="isLoading" type="indeterminate"></ion-progress-bar>
  <ion-item style="margin-top: 50%;" class="ion-text-center">
    <ion-img src="assets/organova.png"></ion-img>
  </ion-item>
  <div *ngIf="isLoading" class="ion-text-center" style="margin-top: 50px;">
    <ion-spinner name="crescent"></ion-spinner>
  </div>
</ion-content>
<ion-footer>
<ion-toolbar color="primary">
  
</ion-toolbar>
</ion-footer>
